# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/

# Distribution / build folders
build/
dist/
*.egg-info/

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python profiler files
.prof
